
.navbar
{
    font-family: Avenir;
    background-color:#62B2C1;
    border: none;

}
.navbar-nav {min-width:100% !important;}

.li.dropdown.open
{
    background-color: #62B2C1; !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{ background-color: #62B2C1 !important; }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color: #62B2C1 !important; text-decoration: underline !important;}
.dropdown-menu{background-color: #62B2C1 !important;
    border: none !important;
    box-shadow : none !important;
    border : solid #62B2C1 !important;
    border-radius: 10px !important; }

.dropdown-divider{color:white;}

.dropdown-menu .divider{height: 1px !important;}
.navb
{
    padding-top: 1%;
}
.navbar-nav .dropdown-menu>li>a { color: white}
.apply
{
    background-color: #31CBA7;
    width: 150px;
    border-radius: 30px !important;
    font-size: 18px !important;
    padding: 2.5%;
    height: 20%;
    line-height:1.2; /* centrage vertical */
    transform: translateY(80%);

}

.experience
{
    color: white;
    font-family: Avenir;
    padding: 2.5%;
    line-height:1.2; /* centrage vertical */
    text-align: center;
    height: 20% !important;
    font-size: 20px;

}
.ligne1 {min-width: 100%; height: 50% !important;    background-color: RGB(0,146,170);
}
.row.ligne2{min-width: 100%; height: 20%; color: white;}
.glyphicon.glyphicon-arrow-right{width: 10px;}

.video_background{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
.video_row {
    min-height: 100vh;
    width: 100%;
}
#video-text{
    color:white;
    font-size: 7em;
    min-height: 10vh;
    min-width: 100%;
}
.pol2{
    font-family: Quicksand !important;
    letter-spacing: 0.01em;
    font-size: 0.7em;
}
.pol3{
    font-family: Big John;
    font-size: 1.5em ;
}
img.down-arrow{
    width: 3vw;
    height: 5vh;
}
.fleche{
    margin-top: 10vh;
}
footer .row{
    background-color: #62B2C1;
}
footer .row .border-right{
    border-right: 1px solid white;
}

.navbar-default .navbar-nav>li>a { color : white !important;}

.navbar-nav>li{padding-left: 5%; padding-right: 2.5%}


.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { text-decoration: underline !important;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { background-color: #62B2C1 !important;}
.btn>a{color:white}
