
.navbar
{
    font-family: Avenir;
    background-color:#62B2C1;
    border: none;
}
.navbar-nav {min-width:100% !important;}
.navbar li a
{
    color: white;
    background-color: #62B2C1; !important;
}

.li.dropdown.open
{
    background-color: #62B2C1; !important;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{ background-color: #62B2C1 !important; }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{background-color: #62B2C1 !important; text-decoration: underline !important;}
.dropdown-menu{background-color: #62B2C1 !important;
    border: none !important;
    box-shadow : none !important;
    border : solid #62B2C1 !important;
    border-radius: 10px !important; }

.dropdown-divider{color:white;}

.dropdown-menu .divider{height: 1px !important;}
.navb
{
    padding-top: 1%;
}
.navbar-nav .dropdown-menu>li>a { color: white}
.apply
{
    background-color: #31CBA7;
    color:white;
    width: 150px;
    border-radius: 30px !important;
    font-size: 18px !important;}

.experience
{
    color: white;
    font-family: Avenir;
    vertical-align: middle;
    font-size: 20px;

}
.row.ligne1 {min-width: 100%; height: 10%;    background-color: RGB(0,146,170);
}
.row.ligne2{min-width: 100%; height: 5%;}
.glyphicon.glyphicon-arrow-right{width: 10px;}

video.video_background{
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}
.video_row {
    min-height: 100vh;
    width: 100%;
}
#video-text{
    color:white;
    font-size: 7em;
    min-height: 10vh;
    min-width: 100%;
}
.pol2{
    font-family: Quicksand !important;
    letter-spacing: 0.01em;
    font-size: 0.7em;
}
.pol3{
    font-family: Big John;
    font-size: 1.5em ;
}
img.down-arrow{
    width: 3vw;
    height: 5vh;
}
.fleche{
    margin-top: 10vh;
}
footer .row{
    background-color: #62B2C1;
}
footer .row .border-right{
    border-right: 1px solid white;
}
footer .row{
    padding: 2%;
}